{% extends "header.html" %}
{% import "macros.html" as macros %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-sm-6'>
      <h2>Contact Us</h2>
      <p>Send us a message regarding lessons, boarding, training or other programs. We'll get back to you soon!</p>
        {% call macros.render_form(form, action_url='/contact', action_text='Send Message') %}
          {{ macros.render_field(form.name, label_visible=false, placeholder='Your full name', type='text') }}
          {{ macros.render_field(form.email, label_visible=false, placeholder='Your email address', type='email') }}
          {{ macros.render_field(form.subject, label_visible=false, placeholder='Subject of your inquiry', type='text') }}
          {{ macros.render_field(form.message, label_visible=false, placeholder='Your message', type='textarea', rows='8')}}
        {% endcall %}
    </div>
    <div class='col-sm-6'>
      <img src="{{url_for('static', filename='img/roamin.png')}}" class="contact-img img-thumbnail">
    </div>
  </div>
</div>
{% endblock %}