{% extends "header.html" %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div id="skyline-carousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        {% for item in content: %}
          {% if loop.index0 == 0 %}
        <li data-target="#skyline-carousel" data-slide-to="{{loop.index0}}" class="active"></li>
          {% else %}
        <li data-target="#skyline-carousel" data-slide-to="{{loop.index0}}"></li>
          {% endif %}
          {% endfor %}
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        {% for item in content: %}
          {% if loop.index == 1 %}
        <div class="item active">
          <img src="static/img/home/{{item['img']}}" alt="img 1">
          <a href="{{item.link}}">
            <div class="carousel-caption {{item.align}}">
              <p>{{item.info | safe}}</p>
              <p class='learn-more'>LEARN MORE >></p>
            </div>
          </a>
        </div>
          {% else %}
        <div class="item">
          <img src="static/img/home/{{item['img']}}" alt="...">
          <a href="{{item.link}}">
            <div class="carousel-caption {{item.align}}">
              <p>{{item.info | safe}}</p>
              <p class='learn-more'>LEARN MORE >></p>
            </div>
          </a>
        </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}