{% extends "header.html" %}
{% block content %}
<div class='container'>
  <div class='row'>
    <div class='col-md-6'>
      <div class='piedmont'>
        <img src="static/img/Piedmont-2.jpg">
      </div>
    </div>
    <div class='col-md-6'>
      <h2>Piedmont Stables</h2>
      <p>Piedmont Stables is located on Redwood Road just down the hill from Skyline Ranch. Piedmont Stables is a “sister” facility to Skyline Ranch, as both are a part of the East Bay Regional Park system and  managed by Judi Martin.</p>
      <p>Piedmont boarding prices are the same as for Skyline Ranch. <a href="/contact">Contact us</a> for more information about Piedmont Stables.</p>
    </div>
  </div>
</div>
{% endblock %}